<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue.js Order Form</title>

  <style>
    @import url(https://fonts.googleapis.com/css?family=Cookie);

    /* Hide un-compiled mustache bindings
    until the Vue instance is ready */

    [v-cloak] {
      display: none;
    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      font: 15px/1.3 'Open Sans', sans-serif;
      color: #5e5b64;
      text-align: center;
    }

    a,
    a:visited {
      outline: none;
      color: #389dc1;
    }

    a:hover {
      text-decoration: none;
    }

    section,
    footer,
    header,
    aside,
    nav {
      display: block;
    }

    /*-------------------------
    	The order form
    --------------------------*/
  </style>

</head>

<body>

  <!-- v-cloak hides any un-compiled data bindings until the Vue instance is ready. -->

  <form id="main" v-cloak>
    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">Date de début</label>
      <div class="col-4">
        <input class="form-control" type="date" v-model=startDate id="example-date-input">
      </div>

      <label for="example-date-input" class="col-2 col-form-label">Date de fin</label>
      <div class="col-4">
        <input class="form-control" type="date" v-model=endDate id="example-date-input">
      </div>
    </div>

    <button type="button" class="btn btn-secondary" @click="getDuration()">Calculer</button>
    <div>
      <label for="example-date-input" class="col-8 col-form-label" v-model='duration'>Durée du contrat en jours
        et en
        heures : {{
        duration }}</label>
    </div>
    <div>
      <label class="col-4 col-form-label">ETP : {{ etp }} </label>
    </div>
    <div>
      <label class="col-4 col-form-label">Nombre de congés acquis : {{ nb_holidays }}</label>
    </div>
    <div>
      <label class="col-4 col-form-label">{{ errorMessage }}</label>
    </div>
  </form>
  <!-- IMPORT VUE JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
  <!-- IMPORT BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <!-- IMPORT MOMENT -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>



  <script>


    var demo = new Vue({
      el: '#main',
      data: {
        duration: '',
        errorMessage: '',
        etp: '',
        nb_holidays: '',
        startDate: moment().format('YYYY-MM-DD'),
        endDate: moment().format('YYYY-MM-DD'),
      },
      methods: {
        getDuration() {
          const start = moment(this.startDate)
          const end = moment(this.endDate)
          console.log(start.format('YYYY'))
          if (end >= start && end.format('YYYY') - start.format('YYYY') == 0) {
            let duration = moment.duration(end.diff(start)).asDays();
            let hours = duration * 7
            this.getHolidays(duration)
            this.getETP(hours)
            return this.duration = Math.round(duration) + ' jours, soit ' + Math.round(hours) + ' heures.'
          }
          else {
            this.errorMessage = 'Attention, les dates ne sont pas correctes'
          }
        },
        getETP(hours) {
          return this.etp = Math.round(hours) / 35
        },
        getHolidays(duration) {
          let days = duration / 28
          return this.nb_holidays = Math.floor(days * 2.08)
        }
      },
      watch: {

      }
    });

  </script>
</body>

</html>