<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calcul CDD</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.gif" type="image/gif" sizes="16x16">
  <!-- IMPORT BOOTSTRAP -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- IMPORT VUE JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
  <!-- IMPORT MOMENT -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/fr.js"></script>
  <!-- IMPORT FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto+Mono" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Quicksand', sans-serif;

      color: #6C464E;
      text-align: center;
    }

    .row {
      margin-top: 20px;
    }

    .title {
      margin: 40px auto;
      color: #32A287;
      font-family: 'Roboto Mono', monospace;
    }

    .input {
      text-align: left;
    }
  </style>

</head>

<body>

  <!-- v-cloak hides any un-compiled data bindings until the Vue instance is ready. -->

  <div id="main" v-cloak>
    <div class="container">
      <h1 class="title">Calculer votre CDD</h1>
      <div class="row">
        <div class="col-md-5">
          <form>
            <div class="form">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label input">Début du contrat</label>
                <input class=" col-sm-8 col-md-6 form-control form-control-lg" v-model="start" type="date">
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label input">jusqu'au</label>
                <input class="col-sm-8 col-md-6 form-control form-control-lg" v-model="end" type="date">
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label input">Horaire hebdomadaire</label>
                <input class="col-sm-8 col-md-6 form-control form-control-lg" v-model="dailyHours" type="number">
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6 offset-md-1 ">
          <div v-if="days < year">
            <div class="card">
              <h5 class="card-header">Infos</h5>
              <div class="card-body">
                <p class="h4">Contrat du <b>{{startedDate | formatedDate}}</b> au <b>{{endedDate | formatedDate}}</b>
                </p>
                <p>Nombre de jours travaillés <b>{{days}}</b> </p>
                <p>Nombre de jours ouvrés <b>{{openedDays}}</b> </p>
                <p>Nombre de congés acquis <b>{{holidays}}</b> </p>
                <p>Equivalent temps plein <b>{{etp}}</b> </p>
                <p>Nombre d'heures sur la période <b>{{nbHoursToDo}}</b> </p>
              </div>
            </div>

          </div>
          <div v-else>
            <div class="alert alert-warning">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    Vue.filter('formatedDate', function (value) {
      return moment(value).format("Do MMMM YYYY");
    });

    var app = new Vue({
      el: '#main',
      data: {
        dailyHours: 35,
        year: 366,
        start: moment().format('YYYY-MM-DD'),
        end: moment().format('YYYY-MM-DD'),
        errorMessage: 'Attention, le contrat ne peut pas dépasser 1 an'
      },
      methods: {
      },
      computed: {
        startedDate: function () {
          return moment(this.start)
        },
        endedDate: function () {
          return moment(this.end)
        },
        days: function () {
          const start = moment(this.start)
          const end = moment(this.end).add(1, 'd')
          if (end < start + 1) {
            return this.errorMessage = "Attention, veuillez vérifier vos dates."
          } else if (!this.end || !this.start) {
            return this.errorMessage = "Attention, vous devez fournir la date de début et de fin de votre contrat."
          }
          return end.diff(start, 'day')

        },
        openedDays: function () {
          const start = moment(this.start)
          const end = moment(this.end)
          return ((end.diff(start, 'week') * 5) - 1) + end.day()
        },
        hours: function () {
          const start = moment(this.start)
          const end = moment(this.end).add(1, 'd')
          const weeks = end.diff(start, 'week') + 1

          if (weeks > 0) {
            return weeks * this.dailyHours
          }

          return this.dailyHours
        },
        holidays: function () {
          const format = Math.floor(this.days / 28) * 2.08;
          const result = Math.ceil(format)
          if (result > 25)
            return 25
          return result
        },
        etp: function () {
          return (this.dailyHours / 35).toFixed(1);
        },
        nbHoursToDo: function () {
          return this.openedDays * 7 * this.etp;
        }
      },
      watch: {
      }
    });

  </script>
</body>

</html>